<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

	<title>{% block title %}{% endblock %}</title>
	<style>
	.btn-xl { padding: 10px 20px;  font-size: 40px; border-radius: 10px;}
	{% block style %}
	{% endblock %}
	</style>


	</head>
	<body>




	   <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">


		 <div name="left" class="d-flex justify-content-start">
		  <a class="navbar-brand" href="#">Navbar</a>
			<ul class="navbar-nav mr-auto">
                    <li class="nav-item  ">

                    <form action="/backword" method="post" >
                    <button name="forwardBtn" type="submit" class="border-0 bg-light"><div class="bi bi-arrow-left-square-fill btn-lg"></div></button>
                    </form>
                   </li>
                   <li class="nav-item">
                     <button name="forwardBtn" type="submit" class="border-0 bg-light"><div class="bi bi-arrow-right-square-fill btn-lg"></div></button>
                   </li>
			</ul>
          </div>

		   <div name="center">

		   </div>


		   <div name="right">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		      </li>

		      <li class="nav-item">
		        <a class="nav-link" href="/login">Login</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/logout">Logout</a>
		      </li>
				<li class="nav-item">
		        <a class="nav-link" href="/user">option</a>
		      </li>
		    </ul>
           </div>
	   </nav>


	   <div class="container-fluid">
			<div class="" id="main info">
               <div class="row">


	       {% block content%}
		   {% endblock %}

			    <div class="col-1" style="max-width :200px;padding-right :0px; padding-left :0px;background-color: rgba(242,242,242,0.9);">
                 <div class="cleanslate w24tz-current-time w24tz-small" style="display: inline-block !important; visibility: hidden !important; min-width:200px !important; min-height:100px !important;"><p><a href="//24timezones.com/Jerusalem/time" style="text-decoration: none" class="clock24" id="tz24-1644261464-c1110-eyJob3VydHlwZSI6IjI0Iiwic2hvd2RhdGUiOiIxIiwic2hvd3NlY29uZHMiOiIwIiwiY29udGFpbmVyX2lkIjoiY2xvY2tfYmxvY2tfY2I2MjAxNzA1OGVmZmQ2IiwidHlwZSI6ImRiIiwibGFuZyI6ImVuIn0=" title="Jerusalem timezone" target="_blank" rel="nofollow">Jerusalem time</a></p><div id="clock_block_cb62017058effd6"></div></div>
                </div>
	          </div>
          </div>
	   </div>


	   <div class="fixed-bottom" name="footer">
        {% block Footer%}
		{% endblock %}
	   </div>
        {% block alertMsg%}
	   {% endblock %}



	   <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>