{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block style %}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
{% endblock %}






{% block content %}
<div class="col" style="padding-right :0px; padding-left :0px;">
  <div class ="overflow-auto" style="height: 100vh; background-color: rgba(204,229,255,0.6);">
   <form action="/saveEditChanges" method="post" class="col " >
	<p style="text-align: center">caseName:</p>
    <p style="text-align: center"><input type="hidden" name="oldNameCase" value="{{caseName if caseName}}" /></p>
	<p style="text-align: center"><input type="text" name="newNameCase" value="{{caseName if caseName}}" /></p>
    <h5><p style="text-align: center">owner by - {{ownerFirstName if ownerFirstName}} {{ownerLastName if ownerLastName}}: </p></h5>
    <p style="text-align: center">info:</p>
	<p style="text-align: center"><input type="text"   style="height:300px;font-size:14pt" size="100" name="info"value="{{info if info}}"/></p>
	<p style="text-align: center"><input type="submit" value="submit"/></p>
    </form>


  </div>
</div>
{% endblock %}





{% block Footer %}
{% endblock %}