{% extends "base.html" %}



{% block title %}Login Page{% endblock %}

{% block content %}

<div class="col " style="padding-right :0px; padding-left :0px;" >
 <div class ="overflow-auto" style="height: 100vh; background-color: rgba(204,229,255,0.6);">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
         {%for msg in messages%}
        <center>  <p>{{msg}} </p></center>
         {%endfor%}
      {% endif %}
    {% endwith %}
<center><h1> You are not logged in </h1></center>

<form action="#" method="post" class="col " >
	<p style="text-align: center">userName:</p>
	<p style="text-align: center"><input type="text" name="userName" /></p>
    <p style="text-align: center">password:</p>
	<p style="text-align: center"><input type="password" name="password" /></p>
	<p style="text-align: center"><input type="submit" value="submit"/></p>
</form>
         </div>
</div>
{% endblock %}

{% block Footer %}
 <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
      <li class="nav-item" >
		  <a class="navbar-brand"  href="/register">register</a>
     </li>
 </nav>
{% endblock %}