<!DOCTYPE html>
<html lang="en">

<head>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>test</title>
</head>



<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyName</a>

    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">

       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
          <button class="btn"><i class="bi bi-arrow-left-square-fill btn-lg"></i></button>
        </li>
        <li class="nav-item">
          <button class="btn"><i class="bi bi-arrow-right-square-fill btn-lg"></i></button>
        </li>
       </ul>


      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex justify-content-end">
        <input class="form-control mr-sm-2" type="search" placeholder="Search12" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="" id="main info">
<div class="container-fluid">
  <div class="row">
    <div class="col-1">
      money
    </div>
    <div class="col">
      <h2 class ="border border-dark">info info info</h2>
        <div class ="overflow-auto" style="height: 800px; background-color: rgba(255,150,0,0.1);">

              <h1>{{mainPageInfo}}</h1>

        </div>
    </div>
    <div class="col-1">
      <h2 class ="d-flex justify-content-end border border-dark">20:20</h2>
    </div>
  </div>
</div>
</div>

<div class="footer fixed-bottom navbar-dark bg-dark">
  <div class="row">
    <div class="col">
     <h6 class="text-success">add file</h6>
    </div>
    <div class="col">
    <h6 class="text-success">add customer</h6>
    </div>
    <div class="col">
      <h6 class="text-success">coldner</h6>
    </div>
  </div>
</div>

</body>
</html>